<div class="div_header">
<header>
  <p class="heading">
    E-Learning Platform
  </p>
  <div class="sub-heading">
    <p>A Educational Online Platform For Self Learning</p>
  </div> 
</header>
</div>
<div class="links">
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['course']">Course</a>
    <a [routerLink]="['contact-details']">Contact</a>
  <a [routerLink]="['about-details']">About</a>
  </nav>
</div>

<router-outlet></router-outlet>
<footer>Copyright &#169;2023 E-Learning Platform</footer>
