div {
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

input {
  margin-right: 10px;
}

p.selected-answer {
  font-weight: bold;
  margin-top: 5px;
}

